{% load static %}
<link  href="{% static 'notePad/css/style.css' %}" rel="stylesheet">
<div class="notePadDiv">
    <div class="notePadTop">
        <div class="makeAccusation" id="makeAccusation">
            <p>Make</p>
            <p>Accusation</p>
        </div>
        <div class="playerPortrait">
            {% if player.character == "Colonel Mustard" %}
                <img src="{% static 'notePad/images/colMustard.jpg'%}">
            {% elif player.character == "Professor Plum" %}
                <img src="{% static 'notePad/images/profPlum.jpg'%}">
            {% elif player.character == "Mrs. Peacock" %}
                <img src="{% static 'notePad/images/mrsPeacock.jpg'%}">
            {% elif player.character == "Miss Scarlet" %}
                <img src="{% static 'notePad/images/missScarlet.jpg'%}">
            {% elif player.character == "Mr. Green" %}
                <img src="{% static 'notePad/images/mrGreen.jpg'%}">
            {% elif player.character == "Mrs. White" %}
                <img src="{% static 'notePad/images/mrsWhite.jpg'%}">
            {% endif %}
        </div>
        <div class="viewCards" id="viewCards">
            <p>View</p>
            <p>Cards</p>
        </div>
    </div>
    <table class="notePad">
        <tbody>
            <tr>
                <td>Characters</td>
                <td colspan="3"></td>
            </tr>
            <tr>
                <td>Mr. Green</td>
                <td><input type="checkbox" class="column1" tag="MrGreen"></td>
                <td><input type="checkbox" class="column2" tag="MrGreen"></td>
                <td><input type="checkbox" class="column2" tag="MrGreen"></td>
            </tr>
            <tr>
                <td>Miss Peacock</td>
                <td><input type="checkbox" class="column1" tag="MissPeacock"></td>
                <td><input type="checkbox" class="column2" tag="MissPeacock"></td>
                <td><input type="checkbox" class="column3" tag="MissPeacock"></td>
            </tr>
            <tr>
                <td>Prof Plum</td>
                <td><input type="checkbox" class="column1" tag="ProfPlum"></td>
                <td><input type="checkbox" class="column2" tag="ProfPlum"></td>
                <td><input type="checkbox" class="column3" tag="ProfPlum"></td>
            </tr>
            <tr>
                <td>Mrs. Scarlet</td>
                <td><input type="checkbox" class="column1" tag="MrsScarlet"></td>
                <td><input type="checkbox" class="column2" tag="MrsScarlet"></td>
                <td><input type="checkbox" class="column3" tag="MrsScarlet"></td>
            </tr>
            <tr>
                <td>Colonel Mustard</td>
                <td><input type="checkbox" class="column1" tag="ColonelMustard"></td>
                <td><input type="checkbox" class="column2" tag="ColonelMustard"></td>
                <td><input type="checkbox" class="column3" tag="ColonelMustard"></td>
            </tr>
            <tr>
                <td>Mrs. White</td>
                <td><input type="checkbox" class="column1" tag="MrsWhite"></td>
                <td><input type="checkbox" class="column2" tag="MrsWhite"></td>
                <td><input type="checkbox" class="column3" tag="MrsWhite"></td>
            </tr>
            <tr>
                <td>Weapons</td>
                <td colspan="3"></td>
            </tr>
            <tr>
                <td>Candlestick</td>
                <td><input type="checkbox" class="column1" tag="Candlestick"></td>
                <td><input type="checkbox" class="column2" tag="Candlestick"></td>
                <td><input type="checkbox" class="column3" tag="Candlestick"></td>
            </tr>
            <tr>
                <td>Rope</td>
                <td><input type="checkbox" class="column1" tag="Rope"></td>
                <td><input type="checkbox" class="column2" tag="Rope"></td>
                <td><input type="checkbox" class="column3" tag="Rope"></td>
            </tr>
            <tr>
                <td>Lead Pipe</td>
                <td><input type="checkbox" class="column1" tag="LeadPipe"></td>
                <td><input type="checkbox" class="column2" tag="LeadPipe"></td>
                <td><input type="checkbox" class="column3" tag="LeadPipe"></td>
            </tr>
            <tr>
                <td>Knife</td>
                <td><input type="checkbox" class="column1" tag="Knife"></td>
                <td><input type="checkbox" class="column2" tag="Knife"></td>
                <td><input type="checkbox" class="column3" tag="Knife"></td>
            </tr>
            <tr>
                <td>Wrench</td>
                <td><input type="checkbox" class="column1" tag="Wrench"></td>
                <td><input type="checkbox" class="column2" tag="Wrench"></td>
                <td><input type="checkbox" class="column3" tag="Wrench"></td>
            </tr>
            <tr>
                <td>Revolver</td>
                <td><input type="checkbox" class="column1" tag="Revolver"></td>
                <td><input type="checkbox" class="column2" tag="Revolver"></td>
                <td><input type="checkbox" class="column3" tag="Revolver"></td>
            </tr>
            <tr>
                <td>Rooms</td>
                <td colspan="3"></td>
            </tr>
            <tr>
                <td>Hall</td>
                <td><input type="checkbox" class="column1" tag="Hall"></td>
                <td><input type="checkbox" class="column2" tag="Hall"></td>
                <td><input type="checkbox" class="column3" tag="Hall"></td>
            </tr>
            <tr>
                <td>Study</td>
                <td><input type="checkbox" class="column1" tag="Study"></td>
                <td><input type="checkbox" class="column2" tag="Study"></td>
                <td><input type="checkbox" class="column3" tag="Study"></td>
            </tr>
            <tr>
                <td>Ballroom</td>
                <td><input type="checkbox" class="column1" tag="Ballroom"></td>
                <td><input type="checkbox" class="column2" tag="Ballroom"></td>
                <td><input type="checkbox" class="column3" tag="Ballroom"></td>
            </tr>
            <tr>
                <td>Billiards Room</td>
                <td><input type="checkbox" class="column1" tag="BilliardsRoom"></td>
                <td><input type="checkbox" class="column2" tag="BilliardsRoom"></td>
                <td><input type="checkbox" class="column3" tag="BilliardsRoom"></td>
            </tr>
            <tr>
                <td>Dining Room</td>
                <td><input type="checkbox" class="column1" tag="DiningRoom"></td>
                <td><input type="checkbox" class="column2" tag="DiningRoom"></td>
                <td><input type="checkbox" class="column3" tag="DiningRoom"></td>
            </tr>
            <tr>
                <td>Kitchen</td>
                <td><input type="checkbox" class="column1" tag="Kichen"></td>
                <td><input type="checkbox" class="column2" tag="Kichen"></td>
                <td><input type="checkbox" class="column3" tag="Kichen"></td>
            </tr>
            <tr>
                <td>Lounge</td>
                <td><input type="checkbox" class="column1" tag="Lounge"></td>
                <td><input type="checkbox" class="column2" tag="Lounge"></td>
                <td><input type="checkbox" class="column3" tag="Lounge"></td>
            </tr>
            <tr>
                <td>Conservatory</td>
                <td><input type="checkbox" class="column1" tag="Conservatory"></td>
                <td><input type="checkbox" class="column2" tag="Conservatory"></td>
                <td><input type="checkbox" class="column3" tag="Conservatory"></td>
            </tr>
            <tr>
                <td>Library</td>
                <td><input type="checkbox" class="column1" tag="Library"></td>
                <td><input type="checkbox" class="column2" tag="Library"></td>
                <td><input type="checkbox" class="column3" tag="Library"></td>
            </tr>
        </tbody>
    </table>
</div>
<script src="{% static 'notePad/javascript/script.js' %}" defer></script>