{% load static %}
<link  href="{% static 'notePad/css/style.css' %}" rel="stylesheet">
<div class="notePadDiv">
    <div class="notePadTop">
        <div class="makeAccusation" id="makeAccusation">
            <p>Make</p>
            <p>Accusation</p>
        </div>
        <div class="playerPortrait">
            {% if player.character == "Colonel Mustard" %}
                <img src="{% static 'notePad/images/colMustard.jpg'%}">
            {% elif player.character == "Professor Plum" %}
                <img src="{% static 'notePad/images/profPlum.jpg'%}">
            {% elif player.character == "Mrs. Peacock" %}
                <img src="{% static 'notePad/images/mrsPeacock.jpg'%}">
            {% elif player.character == "Miss Scarlet" %}
                <img src="{% static 'notePad/images/missScarlet.jpg'%}">
            {% elif player.character == "Mr. Green" %}
                <img src="{% static 'notePad/images/mrGreen.jpg'%}">
            {% elif player.character == "Mrs. White" %}
                <img src="{% static 'notePad/images/mrsWhite.jpg'%}">
            {% endif %}
        </div>
        <div class="viewCards">
            <p>View</p>
            <p>Cards</p>
        </div>
    </div>
    <table class="notePad">
        <tbody>
            <tr>
                <td>Characters</td>
                <td colspan="3"></td>
            </tr>
            <tr>
                <td>Mr. Green</td>
                <td><input type="checkbox" class="test"></td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
            </tr>
            <tr>
                <td>Miss Peacock</td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
            </tr>
            <tr>
                <td>Prof Plum</td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
            </tr>
            <tr>
                <td>Mrs. Scarlet</td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
            </tr>
            <tr>
                <td>Colonel Mustard</td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
            </tr>
            <tr>
                <td>Mrs. White</td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
            </tr>
            <tr>
                <td>Weapons</td>
                <td colspan="3"></td>
            </tr>
            <tr>
                <td>Candlestick</td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
            </tr>
            <tr>
                <td>Rope</td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
            </tr>
            <tr>
                <td>Lead Pipe</td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
            </tr>
            <tr>
                <td>Knife</td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
            </tr>
            <tr>
                <td>Wrench</td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
            </tr>
            <tr>
                <td>Revolver</td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
            </tr>
            <tr>
                <td>Rooms</td>
                <td colspan="3"></td>
            </tr>
            <tr>
                <td>Hall</td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
            </tr>
            <tr>
                <td>Study</td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
            </tr>
            <tr>
                <td>Ballroom</td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
            </tr>
            <tr>
                <td>Billiards Room</td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
            </tr>
            <tr>
                <td>Dining Room</td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
            </tr>
            <tr>
                <td>Kitchen</td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
            </tr>
            <tr>
                <td>Lounge</td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
            </tr>
            <tr>
                <td>Conservatory</td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
            </tr>
            <tr>
                <td>Library</td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
            </tr>
        </tbody>
    </table>
</div>
<script src="{% static 'notePad/javascript/script.js' %}" defer></script>