.characters {
    display: inline-block;
    vertical-align: middle;
}

ul {
    list-style-type: none;
}

li {
    width: fit-content;
}

li:hover {
    cursor: pointer;
}

.selected {
    background-color: lightblue;
}