.boardContainer {
    display: grid;
    grid-template-columns: repeat(5,100px);
    grid-template-rows: repeat(5,100px);
    gap: 10px;
    width: fit-content;
}

.boardSquare {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    position: relative;
}

.boardDiamond {
    border: 5px solid black;
    display: flex;
    width: 50px;
    height: 50px;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    justify-self: center;
    align-self: center;
    padding: 10px;
    transform: rotate(45deg);
    position: relative;
    background-color: lightgrey;
}

.playerInHallway {
    position: absolute;
    width: 80%;
    height: 80%;
    transform: rotate(-45deg);
    top: 2px;
    left: 2px;
    z-index: 10;
}

.playerInRoom {
    position: absolute;
    width: 60%;
    height: 60%;
    top: 2px;
    left: 2px;
    z-index: 10;
}

.mainUi {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.valid-move {
    animation: breathe-halo 4s infinite alternate ease-in-out;
}

.deal {
  display: none;
}

.gameNotifications {
  width: 100%;
  height: 30%;
  border: 1px solid black;
  margin: auto;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  box-sizing: border-box;
  margin-top: 5%;
}

.gameNotifications button {
  width: 100%;
}

.gameNotifications p {
  text-align: center;
}

#Library {
  background-image: url("/static/gameBoard/images/library.png");
  background-repeat: no-repeat;
  background-size: cover;
}

#BilliardRoom {
  background-image: url("/static/gameBoard/images/billiard_room.png");
  background-repeat: no-repeat;
  background-size: cover;
}

#Ballroom {
  background-image: url("/static/gameBoard/images/ball_room.png");
  background-repeat: no-repeat;
  background-size: cover;
}

#DiningRoom {
  background-image: url("/static/gameBoard/images/dining_room.png");
  background-repeat: no-repeat;
  background-size: cover;  
  background-position: center -10px;
}

#Hall {
  background-image: url("/static/gameBoard/images/hall.png");
  background-repeat: no-repeat;
  background-size: cover;
}

#Kitchen {
  background-image: url("/static/gameBoard/images/kitchen.png");
  background-repeat: no-repeat;
  background-size: cover; 
}

#Study {
  background-image: url("/static/gameBoard/images/study.png");
  background-repeat: no-repeat;
  background-size: cover; 
}

#Lounge {
  background-image: url("/static/gameBoard/images/lounge.png");
  background-repeat: no-repeat;
  background-size: cover; 
}

#Conservatory {
  background-image: url("/static/gameBoard/images/conservatory.png");
  background-repeat: no-repeat;
  background-size: cover; 

}

@keyframes breathe-halo {
  0% {
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.7); /* Subtle initial glow */
  }
  50% {
    box-shadow: 0 0 20px rgba(0, 123, 255, 1), /* Stronger glow at peak */
                0 0 40px rgba(0, 123, 255, 0.8); /* Wider, softer glow */
  }
  100% {
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.7); /* Return to subtle glow */
  }
}