{% load static %}
<link  href="{% static 'lobby/css/style.css' %}" rel="stylesheet">
<div>
    <p>Select a Character to start a game with</p>
    <a href="{% url 'gameBoard:index' %}" class="startGameButton">Start Game</a>
    <select name="characters" id="characters" class="characters">
        <option value="Colonel Mustard">Colonel Mustard</option>
        <option value="Professor Plum">Professor Plum</option>
        <option value="Mrs. Peacock">Mrs. Peacock</option>
        <option value="Miss Scarlet">Miss Scarlet</option>
        <option value="Mr. Green">Mr. Green</option>
        <option value="Mrs. White">Mrs. White</option>
    </select>
    <p>Select a game to join</p>
    <button>Join Game</button>
</div>
